import(BiocParallel)
import(clusterProfiler)
import(cowplot)
import(dplyr)
import(DESeq2)
import(edgeR)
import(fdrtool)
import(ggrepel)
import(grid)
import(limma)
import(org.Hs.eg.db)
import(pheatmap)
import(RColorBrewer)
import(readr)
import(reshape2)
import(sva)
import(vsn)
exportPattern("^[[:alpha:]]+")
